/* <!-- Name: Gino Robotham
    ID: 2405392
    Module: CIT2011 WEB PROGRAMMING
    IA: 2 --> */

*
{
    font-family: Nunito;
}

header
{
    background-color: white;
    position: sticky;
    z-index: 100; /*I learned that this basically just keeps my header above the images i have because when i didnt include, it would render behind.*/
    top: 0;
}

footer
{
    text-align: center;
}

main
{
    padding: 50px;
}

nav a
{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

hr
{
    margin: 0px; /*I noticed that a little white bar would appear below so margin must be set to 0*/
}

button:hover
{
    cursor: pointer;
}

.medgician-logo
{
    height: 120px;
    width: 400px;
}

.header-container
{
    display:grid;
    grid-template-columns: 2fr 1fr;

}

.navigation-header
{
    display:grid;
    place-items: center;
    text-align: center;
}

.content-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 1em;
}

.distributor-portal-button
{
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    background-color: transparent;
    height: 45px;
    width: 240px;
    font-size: 20px;
}

.main-statement-container
{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.main-image-container,
.main-statement
{
    flex: 1 1 300px;
    max-width: 600px;
    min-width: 250px;
    height: auto;
}

.main-statement
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    text-align: center;
    box-shadow: 3px 4px 3px rgb(176, 175, 175);
}

.lab-image
{
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 3px 4px 3px rgb(176, 175, 175);
}


.sold-products-summary,
.organizations-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

.organization-images
{
    height: 150px;
    width: auto;
}

.products-heading-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.products-heading-container h2
{
    align-self: center;
}

.products-search-controls
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.search-inputs
{
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    height: 32px;
    width: 256px;
    text-align: center;
}

.products-images-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-width: 5px;
    gap: 1em;
}
.product-cards-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 200px;
    width: 150px;
    padding: 30px;
    gap: 1em;
    text-align: center;
    border-radius: 16px;
    border-style: solid;
}

/* .product-cards-container p
{
    
} */

.product-images
{
    height: auto;
    width: auto;
}

.view-button
{
    border-radius: 16px;
    background-color: rgb(123, 235, 123);
}

.about-us-descriptions
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.student-info-container
{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3em;
    flex-wrap: wrap;
}

.student-info
{
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    box-shadow: 3px 4px 3px rgb(176, 175, 175);
}

.avatar-image
{
    border-radius: 50%;
    height: 300px;
    box-shadow: 3px 4px 3px rgb(176, 175, 175);
}

.distributor-heading
{
    text-align: center;
}

.account-forms-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.sign-up-form-container,
.log-in-form-container
{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 400px;
    border: solid;
    border-radius: 16px;
    padding: 20px; */
    display: grid;
    place-items: center;
    height: 300px;
    width: 400px;
    border: solid;
    border-radius: 16px;
}


nav a:hover
{
    text-decoration: underline;
}

.distributor-portal-button:hover
{
    background-color: rgb(247, 246, 246);
    box-shadow: 0px 2px rgb(176, 175, 175);
    transition-duration: 250ms;
}

.distributor-portal-button:active
{
    background-color: rgb(213, 212, 212);
    box-shadow: 0px 4px rgb(176, 175, 175);
}



.avatar-image:hover,
.student-info:hover,
.main-statement:hover
{
    transition: 0.5s;
    transform: scale(1.01);
}

.lab-image:hover
{
    transition: 0.5s;
    transform: scale(1.01);
}

.organization-images:hover
{
    transition: 0.5s;
    transform: scale(1.05);
}

.our-products-button
{
    background-color: transparent;
    border: none;
    border-radius: 16px;
}


.our-products-button:hover
{
    transition: 0.5s;
    transform: scale(1.05);
    background-color: rgb(213,212,212);
    
}

.product-cards-container:hover
{
    transition: 0.5s;
    transform: scale(1.05);
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 4px rgb(176, 175, 175);
}
.view-button:hover
{
    transition: 0.5s;
    transform: scale(1.05);
    background-color: rgb(90, 239, 90);
    box-shadow: 0px 4px rgb(176, 175, 175);
}

/* Medua Queries */
@media (max-width: 950px) 
{
    .header-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
}